.App {
  color: #f5f0ae;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
