.cards {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  gap: 48px;
}

.card {
  padding: 14px;
  border-radius: 14px;
  background-color: #579047;
}

.card img {
  width: 100%;
}